<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/jogos/novo" method="post"></form>
        <div>
            <label for="titulo">Titulo:</label>
            <input type="text" id="titulo" name="titulo">
        </div>
        <div>
            <label for="descricao">Descricao:</label>
            <input type="text" id="descricao" name="descricao">
        </div>
        <div>
            <label for="precoBase">Preco Base:</label>
            <input type="text" id="precoBase" name="precoBase">
        </div>
        <input type="submit" value="Cadastrar">
</body>
</html>